<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>restaurantImages</key>
	<array>
		<string>kapoleiKalapawai</string>
		<string>cheesecakeFactory</string>
		<string>fiveGuys</string>
		<string>suraHawaii</string>
		<string>moenaCafe</string>
		<string>californiaPizzaKitchen</string>
		<string>kickinKajun</string>
	</array>
</dict>
</plist>
